<h2>The Test data info:</h2>

<p>
    <h5>Name : <%= @test_data.name %></h5>
    <h5>Age : <%= @test_data.age %></h5>
</p>

<p>
    <%= link_to 'Back to Create new',  new_tests_path %>
    <%= link_to 'Show all Test',  all_test_path %>

</p>