<h4>Details Information of Article :</h4>
<p>
    <div class="card">
        Name: <%= @article.name %>
        <h4>User Info :</h4>
        <p>Username : <%= @article.user.username %> </p>
    </div>
</p>