<h1 align="center">List of All Users</h1>
<div align="center">
<% @users.each do |l| %>
<div class="well col-xs-6 col-xs-offset-2">
<div align="center" class="col-md-4 col-md-offset-4 center" >
  <ul id="gravlist">
    <li>
    <%= link_to gravatar_for(l), user_path(l) %> 
    </li>
    <li class="list-title">
    <h3><%= link_to l.username, user_path(l) %> </h3>
    </li>
    <li>
    <h5><%= link_to pluralize(l.lists.count,"lists")  if l.lists %> </h5>
    </li>
  </ul>
</div>
</div>
<% end %>
</div>








  

