<%= link_to "Home Page", about_path%>

<div class="jumbotron" >
    <h2 id="welcome">Welcome To Alpha Blog!!Sign In to Enter.</h2>
    <p></p>
    <p><a class="btn btn-primary btn-lg" href="about" id="signin">Sign In</a></p>
</div>
