
<div class="jumbotron bg-cover" id="jmb">
    <h2 id="welcome">Welcome To Alpha Blog!!</h2>
    <p></p>
    <%# <p>
        <%= link_to "Sign Up" , "signup" ,class: "btn btn-lg btn-xlarge " %>
    </p> 
</div>
