<h4>Details Information of Article :</h4>
<p>
    <div class="card">
        
        <h4>User Info :</h4>
        <p>Username : <%= @user.username %> </p>
        <p>User Email : <%= @user.email %> </p>

    </div>
</p>