<h3> Student Details : </h3>

<p>
    <strong>Student's Name : </strong>
    <%= @student.name %>
</p>

<p>
    <strong>Student's Id : </strong>
    <%= @student.student_id %>
</p>

<p>
    <strong>Student's Department : </strong>
    <%= @student.department %>
</p>