.navbar{
   background-color:skyblue ;
   color: black ;
   //height: 60px;
}
#logo{
    float: left ;
    font-size: 1.7em ;
    color:white;
    text-transform: uppercase ;
    letter-spacing: -1px;
    font-weight: bold;

}
.ms-auto{
    justify-content: right;
}
#logo:hover{
    color:black;
    text-decoration: none ;
}
.bg-cover{
    background-image: url('cover.jpg') ;
    background-size: cover ;
    height: 600px;
    margin-top: 60px;

}
.jumbotron,h2{
    padding-top: 150px;
}

.btn-xlarge {
    background-color:darkolivegreen ;
    color: black ;
}

#footer{
    position: fixed ;
    width: 100%;
    height: 40px;
    bottom:0;
    background-color:aliceblue;
    margin-top: auto ;
}
#mdbootstrap{
    text-align: center ;
    margin-left: 20px;
    margin-top: 10px;
}
.new,h1{
    margin-right: 200px ;
}

#show{
    justify-content: center ;
}
#timestamps{
    color: darkred ;
}
@import "bootstrap-sprockets";
@import "bootstrap";
// @import "font-awesome";
